<!DOCTYPE html>
<html lang="en">
	<%- include("./shared/head.ejs") %>
	<body>
		<%- include("./shared/nav.ejs") %>

		<div class="blogs content">
			<h1>All Blogs</h1>

			<% if(blogs.length > 0){ %> <% blogs.forEach(blog => { %>

			<h3 class="title"><%= blog.title %></h3>
			<article class="snippet"><%= blog.snippet %></article>

			<% }); %> <% } %>
		</div>

		<%- include("./shared/footer.ejs") %>
	</body>
</html>
